* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.wallet {
  max-width: 420px;
  height: 80vh;
  background-color: beige;
  border: 2px solid black;
}
.wallet-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.2rem;
}
.Wallet-name {
  display: inline-block;
  font-weight: 500;
}
.wallet-address {
  max-width: 120px;
  cursor: pointer;
  text-decoration: none;
}
.wallet-body {
  font-size: 18px;
  line-height: 1.6rem;
  margin: 1.2rem;
  border-radius: 8px;
  overflow: hidden;
  text-align: center;
}
.balance {
  font-size: 1.8rem;
}
